:root {
    --navbar-width: 17%;
    --navbar-min-width: 150px;
}

@font-face {
    font-family: 'Now Thin';
    src: url('../fonts/Now-Thin.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/LatoLatin-Light.woff2')format('woff2'),
        url('../fonts/LatoLatin-Light.woff') format('woff');
    font-display: swap;
}

html {
    font-family: 'Now Thin' !important;
}

h1 {
    margin-bottom: 30px;
}

.content p {
    font-size: 21px;
}

.current {
    color: lightgray !important;
}

.side-nav {
    position: fixed;
    width: var(--navbar-width);
    max-width: 205px;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px;
    overflow-x: hidden;
    min-width: 150px;
}

#links a:hover {
    background-color: rgb(68, 68, 68);
    color: white;
}

.side-nav-inside {
    border: 3px rgb(236, 236, 236) solid;
    padding: 10px;
    height: calc(100% - 40px);
}

.logo {
    width: 100%;
    margin: 8px 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.icon {
    display: none !important;
}

.side-nav a {
    color: black;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 15pt;
}

.content {
    margin-left: min(max(calc(var(--navbar-width) + 20px), calc(var(--navbar-min-width) + 20px)), 225px);
    margin-right: 20px;
    margin-top: 35px;
}

.gallery-image {
    height: 12vw;
    margin: 2px;
}

ul {
    margin-top: 0px;

}

.bio {
    text-align: justify;
    max-width: 70vw;
    margin-top: 5px;
    font-family: 'Lato Light', 'Now Thin', sans-serif;
}

.vystavy {
    margin-bottom: 3px;
    margin-top: 30px;
    font-size: 13pt !important;
}

#kontakt1 {
    margin-top: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

#kontakt1 li {
    margin: 0 10px;
    list-style-type: none;
}

#kontakt1 a {
    color: black;
    font-size: 24px;
}

.kontaktText {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.soc-site-eva {
    position: absolute;
    bottom: 30px;
}

@media only screen and (max-width: 1150px) {
    .kontaktText {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) {
    .kontaktText {
        font-size: 12px;
    }
}

@media only screen and (max-width: 850px) {
    .side-nav {
        height: auto;
        width: 100%;
        z-index: 9999;
        padding: 0px;
        overflow-x: hidden;
        min-width: 1px;
        border-bottom: 3px black solid;
        padding-bottom: 5px;
    }

    .side-nav-inside {
        border: none;
        padding: 0px;
        height: calc(100% - 40px);
    }

    .logo {
        width: auto;
        height: 20px;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .links {
        text-decoration: none;
        text-align: center;
        display: none;
    }

    .content {
        margin-left: 20px;
    }

    .bio {
        max-width: none;
        text-align: left;
    }

    .icon {
        display: block !important;
        position: absolute;
        right: 10px;
        top: 0;

    }

    .side-nav {
        max-width: none;
        overflow: hidden;
        position: relative;
    }

    .side-nav-inside #links {
        display: none;
    }

    .side-nav-inside a {
        padding: 5px 10px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
    }

    .side-nav-inside a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .side-nav a {

        margin-bottom: 0;
    }

    .gallery-image {
        width: 95%;
        height: auto;
    }

    #kontakt2,
    #kontakt1 {
        display: none;
    }

    .soc-site-eva {
        position: static;
    }

    .kontaktText {
        font-size: 15px;
    }
}
